<%= content_for :scripts do %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script> 
  <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @event.coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.map.serviceObject.setZoom(16);
    });
    markers = handler.addMarkers(<%=raw @event.coordinates.to_json %>);
  </script>
<% end %>

<%= content_for :company do %>
  <%= @event.company_name %>
<% end %> 

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('<%= @event.header_image.url %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1><%=@event.title %></h1>
                    <hr class="small">
                    <span class="subheading"><%=@event.headline %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<p id="notice"><%= notice %></p>
<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p> <%= @event.short_description %></p>
        <p><%= @event.full_description %></p>
        <p>
          <strong>Starts at:</strong>
          <%= @event.starts_at %>
        </p>
        <p>
          <strong>Ends at:</strong>
          <%= @event.ends_at %>
        </p>
        <p>
          <strong>Address:</strong>
          <%= @event.address.full_street_address %>
        </p>
        <p>
          <strong>Map:</strong>
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>
        </p>

        <p>
          <%= render "tickets_form" %>
        </p>
      </div>
    </div>
  </div>
</article>
