<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket type:</strong>
  <%= @ticket.ticket_type_id %>
</p>

<p>
  <strong>Recorded price:</strong>
  <%= @ticket.recorded_price %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
